.posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.posts .publishedStatus {
  font-size: 0.7em;
  color: white !important;
  padding: 4px 8px;
  border-radius: 2px;
}

.posts a {
  text-decoration: none !important;
  article * {
    color: black !important;
  }
}

details.postActions {
  position: absolute !important;
  right: 12px;
  top: 12px;

  li a {
    display: flex !important;
    align-items: center;
    gap: 8px;
  }
}
